body{
  margin-top: -10px;
  background-color: #faf0f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.uno {
  text-align: center;
  font-size: 1.5em;
  color: #7c266a;
  font-family: 'Righteous', cursive;

}
.uno p{
  color:black;
  font-family: 'Righteous', cursive;

}
.dos{
  clear: both;/*La propiedad clear especifica en qué lado de un elemento flotante no se permite flotar.*/
  font-family: 'Righteous', cursive;
}

.tres{
  float: left;
  width: 33%;
  text-align: center;
  color: #1b939c;
  font-family: 'Righteous', cursive;
  font-size: 18px;

}
.tres p{
font-size: 1.3em;
}
.cuatro{
  margin: 20px;
  text-align: center;
  font-size: 1.5em;
  color: black;
  font-family: 'Righteous', cursive;

}
input[type=text]{
    background-color: #7c266a;
    color: #f3e2d3;
    width: 100%;
    padding: 25px;
    border:none;
    border-radius: 10px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    font-size: 1em;
}
input[type=text]::placeholder {
    color: #f3e2d3;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}
.boton{
   background-color: #7c266a;
   height: 50px;
   font-size: 1.1em;
   color:#f3e2d3;
   padding: 10px;
   border-radius: 15px;
   border:none;
   border-color:#f3e2d3;
   cursor: pointer;
   width: 40%;
   font-family: 'Righteous', cursive;
}

.boton:hover{
  background-color:#1b939c;
  color:#f3e2d3;
  border-color: #7c266a;
}


.clearfix:before,
.clearfix:after {/*Clase para limpiar floats*/
    content: " ";
    display: table;
}

.clearfix:after {/*Clase para limpiar floats*/
    clear: both;
}
.divboton{
  margin-top: 100px;

}

@media screen and (max-width:480px){
  .tres{
    float: none;

  }
  .boton{
  text-align: center;
  display: inline;

 }

}

@media screen and (min-width:481px) and (max-width:760px){
  .tres{
    float: none;
    display: inline;
  }

  .boton{
  text-align: center;
  display: inline;

 }
}

@media screen and (max-width:761px){
  .tres{
    float: none;
    display: inline;
  }
  .boton{
  text-align: center;
  display: inline;

 }
}
